.clients-icon-list {
    display: flex;
    flex-wrap: wrap;
    
}

.icon-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;    
}

.clients__item {         
    // max-width: 210px;
    height: 90px;     
    width: calc((100% - 30px * 1) / 2); 

    margin-right: 30px;   

    background-color: #FFFFFF;
    border: 1px solid #AFB1B8;
    border-radius: 4px;   
    
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:not(:last-child) {
    //     margin-right: 30px;    
    // }

    &:hover,
    &:focus {
        border: 1px solid $accent-text-color;
        transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    @include for-size(desktop) {
        max-width: 170px;
        
    }

    @include for-size(mobile) {
        &:nth-child(2n) {
            margin-right: 0;
        }
    }

    &:nth-child(-n + 4) {
        margin-bottom: 30px;
    }

}

// .clients__item:nth-child(2n) {
//     margin-right: 0;
// }

.clients__item .clients__icon {    
    fill: #afb1b8;
    align-items: center;

    transition: $transition-fill;
}

.clients__item:hover .clients__icon {   
    fill: $accent-text-color;
    transition: $transition-fill;
}

.section-price {
    padding-top: 34px;
}

.clients .section__title {
    @include for-size(mobile) {
       margin-bottom: 30px;
       font-size: 28px;
    }
}