.prioritet {
    padding-bottom: 0;
}

.list__prioritet {
    max-width: 450px;
    flex-grow: 1;

    @include for-size(desktop) {
        max-width: 270px;
    }
}

.list .list__prioritet::before {
    display: block;
    content: "";    
    height: 120px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #F5F4FA;
    border-radius: 4px;   
    margin-bottom: 30px;
}

.list__prioritet .list__text:not(:last-child) {
    margin-top: 0;
    margin-bottom: 30px;
}

// .list__prioritet .list-text:last-child {
//     margin-bottom: 0;
// }

.list--icon-antenna::before {
    background-image: url(../images/icons/i-antenna.svg);    
}

.list--icon-clock::before {
    background-image: url(../images/icons/i-clock.svg);
}

.list--icon-diagram::before {
    background-image: url(../images/icons/i-diagram.svg);
}

.list--icon-astronaut::before {
    background-image: url(../images/icons/i-astronaut.svg);
}

// .content-box:not(:last-child) {
//     margin-right: 30px;
// }



